@import url('https://fonts.googleapis.com/css2?family=Anta&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Anta", sans-serif;
  color: white;
}

body {
  height: 100vh;
  background: url(./public/images/andrew-kliatskyi-mg8ObwRoBb0-unsplash.jpg) no-repeat center/cover;
}

img {
  max-width: 100%;
}

header {
  background: rgba(29, 33, 37, 1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
}

.start {
  max-width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;

  .menu img {
    width: 24px;
    cursor: pointer;
    transition: .5s;
  }

  .menu img:hover {
    transform: scale(1.1)
  }

  .logo img {
    width: 100%;
  }

  button {
    font-weight: 500;
    border: none;
    background: transparent;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: s-resize;
    transition: .5s;
  }

  button:hover {
    text-decoration: underline;
  }



  .add {
    padding: 0 10px;
    border-radius: 10px;
    border: 1px rgb(72, 72, 72) solid;
    cursor: pointer;
  }

  .add:active {
    border: 1px rgb(86, 86, 86) solid;
  }

  .add span {
    transition: .5s;
  }

  .add:hover span {
    rotate: 90deg;
  }

  img {
    width: 20px;
    padding-top: 5px;
  }
}

.end {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;


  input {
    background: url('./public/icons/search.svg') no-repeat scroll 1px 5px;
    height: 32px;
    padding-left: 28px;
    color: white;
    border: 1px solid rgb(72, 72, 72);
    border-radius: 10px;

    outline: none;
  }

  input::placeholder {
    color: white;
  }

  input:active {
    border: 1px rgb(86, 86, 86) solid;
  }

  button {
    border: none;
    background: transparent;
    cursor: pointer;
    transition: .5s;
  }

  .notifications:hover {
    rotate: 15deg;
  }

  figure {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: rgb(146, 18, 140);
    text-align: center;
    padding-top: 7px;
    color: white;
  }
}



section {
  display: flex;
  justify-content: space-between;
  height: 895px;
}

/* 
.sidebar p {
  display: none;
}

.sidebar div span img {
  width: 64px;
  margin-left: -8px;
}

.text {
  display: none !important;
} */

.sidebar {
  padding: 15px;
  width: 20%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 895px;
  border-right: 1px solid black;
  /* position: absolute;
  left: -20%; */
  background-color: rgba(0, 0, 0, 0.3);
  transition: .7s;

  nav {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-bottom: 12px;
    border-bottom: 1px solid rgb(86, 86, 86);


    .left {
      display: flex;
      color: white;
      gap: 10px;

      .wp {
        width: 48px;
        border-radius: 5px;
        background: rgb(25, 148, 36);
        color: white;
        font-size: 24px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
      }

      .wp_name:hover {
        text-decoration: underline;
      }
    }
  }

  .desks,
  .users,
  .settings,
  .tables,
  .calendar {
    padding-left: 0px;
    display: flex;
    justify-content: space-between;
    font-style: italic;
    transition: .7s;

    p:hover {
      text-decoration: underline;
    }
  }

  .desks div,
  .users div, 
  .settings div,
  .tables div,
  .calendar div {
    display: flex;
    transition: .7s;
  }

  .desks div span,
  .users div span, 
  .settings div span,
  .tables div span,
  .calendar div span {
    transition: .3s;
    filter: blur(0.8px);
  }

  .desks div span:hover,
  .users div span:hover, 
  .settings div span:hover,
  .tables div span:hover,
  .calendar div span:hover {
    transform: scale(1.1);
    border-bottom: 1px solid white;
    filter: blur(1px);
    filter: blur(0px);
  }

  .text {
    font-size: 18px;
    color: rgb(176, 176, 176);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(0, 0, 0, 0.1);
    padding: 5px;
    border-radius: 5px;
  }

  .desk-menu {
    display: flex;
    gap: 5px;
    font-size: 18px;
    margin: 0 0 10px 10px;
  }

  .desk-menu:hover {
    text-decoration: underline;
  }

  .desk-menu_bg {
    border-radius: 5px;
    width: 32px;
    height: 24px;
    background: url(./public/images/andrew-kliatskyi-mg8ObwRoBb0-unsplash.jpg) no-repeat center/cover;
  }
}




.desk_container {
  width: 100%;
  max-width: 100%;
  height: 895px;
  /* position: absolute;
  left: 0%; */
  transition: .7s;


  .desk_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    background-color: rgba(0, 0, 0, 0.1);
    padding: 8px 15px;

    .start {
      button {
        color: black;
        background-color: white;
        border-radius: 5px;
        padding: 2px 5px;
      }
    }

    .end {
      display: flex;
      justify-content: center;
      align-items: center;

      .share {
        color: black;
        background-color: white;
        border-radius: 5px;
        padding: 5px 8px;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .share:hover {
        text-decoration: underline;
      }
    }

  }
}

.filtres {
  display: flex;
  justify-content: center;
  align-items: center;
}


.columns {
  width: 100%;
  display: flex;
  padding: 10px;
  flex-wrap: wrap;
}

.columns_place {
  width: 100%;
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
}

.add_column {
  width: 320px;
  height: 170px;
  border-radius: 30px;
  background: rgba(255, 255, 255, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;

  form {
    display: none;
  }

  input {
    width: 260px;
    height: 48px;
    backdrop-filter: blur(10px);
    background: transparent;
    outline: none;
    border: none;
    border-radius: 10px;
    border: 1px solid black;  
    padding: 12px;
    margin-bottom: 5px;
  }

  input::placeholder {
    color: white;
  }

  button {
    width: 85%;
    height: 38px;
    background: black;
    outline: none;
    border-radius: 8px;
    border: none;

  } 

  span {
    padding: 9px 12px;
    border-radius: 8px;
    background: black;
  }

  figure {
    width: 98px;
    height: 98px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
  }
}


.arrow {
  rotate: 90deg;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 0%;
  background-color: rgb(255, 255, 255,  0.2);
  transition: .7s;
}

.arrow img {
  width: 16px;
}

.column_title {
  height: 32px;
  color: white;
  border: 1px solid rgb(128, 128, 128);
  border-radius: 10px;
  outline: none;
  background-color: transparent;
  padding: 10px;
}

.column_title::placeholder {
  color: white;
}

.column_title:active {
  border: 1px rgb(102, 102, 102) solid;
}

.send {
  height: 32px;
  color: white;
  border: 1px solid rgb(147, 147, 147);
  border-radius: 10px;
  background-color: transparent;
}

.send:active {
  border: 1px rgb(102, 102, 102) solid;
}






.box {
  width: 320px;
  height: 170px;
  border-radius: 30px;
  background: rgba(255, 255, 255, 0.3);
}
